[submodule "deps/date"]
	path = 3rdparty/date
	url = https://github.com/HowardHinnant/date.git
[submodule "deps/rapidjson"]
	path = 3rdparty/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "deps/doctest"]
	path = 3rdparty/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "3rdparty/math"]
	path = 3rdparty/math
	url = git@github.com:tblyons/math.git
